<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Користувачи:</title>
</head>
<body>
<h1>Користувачи:</h1>
<a href="new">Додати нового</a>
<div th:each="user : ${listUsers}">
    <a th:text="${user.toString()}">Some text</a>
    <form th:method="DELETE" th:action="@{'/delete/' + ${user.getId()} }">
        <input type="submit" value="Видалити"/>
    </form>
<!--    <a th:method="DELETE" th:href="@{'/delete/' + ${user.getId()} }">Видалити</a>-->
    <form th:method="GET" th:action="@{'/update/' + ${user.getId()} }">
        <input type="submit" value="Зминити"/>
    </form>
<!--    <a th:method="GET" th:href="@{'/update/' + ${user.getId()} }">Зминити</a>-->
</div>
</body>
</html>